.requirments-list {
  list-style: none;
  margin-top: 41px;
}
.requirments-item {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-bottom: 33px;
  padding: 15px 32px 26px 30px;
}
.requarments-headeing {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #1c1c27;
  margin-bottom: 15px;
}
.requarments-desc {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  margin-left: 14px;
}
